.holder {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 50px 50px 0 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    width: 200px;
    height: 150px;
    background-color: red;
    flex-grow: 1;
}

.item:nth-child(1) {
    border-radius: 45px 0 0 0;
    order: -1;
    flex-basis: calc(100%/2);
}

.item:nth-child(2) {
    background-color: aqua;
}

.item:nth-child(3) {
    background-color: purple;
}

.item:nth-child(4) {
    background-color: green;
}

.item:nth-child(5) {
    background-color: orange;
    order: -1;
    border-radius: 0 45px 0 0;
    flex-basis: calc(100%/2);
}

